<div th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>

    <link rel="stylesheet" th:href=@{/assets/vendors/mdi/css/materialdesignicons.min.css}>
    <link rel="stylesheet" th:href=@{/assets/vendors/css/vendor.bundle.base.css}>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

    <link rel="stylesheet" th:href=@{/assets/css/style.css}>
    <link rel="stylesheet" th:href=@{/assets/css/toastr.min.css}>
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href=@{/assets/images/favicon.ico} />
  </head>
</div>