<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/index}">
<body onload="loadHolidayTable(),clearHoliday()">
<div  layout:fragment="content" class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">Holiday Management</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">

                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <br>
                        <blockquote class="blockquote blockquote-primary">
                            <div class="search-field d-none d-md-block">
                                <form class="form-inline">
                                    <div class="form-group mx-sm-3">
                                        <label>&nbsp;&nbsp;&nbsp;Holiday Date&nbsp;&nbsp;&nbsp;</label>
                                        <input type="date" id="search_toDate" class="form-control" >
                                    </div>
                                    <div class="input-group-prepend bg-transparent">
                                        <button type="button" onclick="searchHoliday()" class="btn btn-gradient-primary btn-rounded btn-icon">
                                            <i class="mdi mdi-magnify"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </blockquote>
                        <br>
                        <br>
                        <form class="forms-sample">
                            <div class="form-group">
                                <label>Holiday reason</label>
                                <textarea class="form-control" id="holidayReason" rows="4"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Holiday</label>
                                <input type="date" class="form-control" id="holiday" required="true">
                            </div>
                            <div class="form-group">
                                <label >Select Status</label>
                                <select class="form-control" id="holidayStatus">
                                    <option value="ACTIVE">ACTIVE</option>
                                    <option value="INACTIVE">INACTIVE</option>
                                    <option value="DELETED">DELETED</option>
                                    <option value="APPROVE">APPROVE</option>
                                    <option value="CANCEL">CANCEL</option>
                                </select>
                            </div>
                            <input type="hidden" class="form-control" id="idHoliday" >
                            <button type="button" onclick="saveHoliday()" class="btn btn-gradient-success btn-rounded btn-fw">Save/Edit holiday </button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type = "button" onclick="clearHoliday()" class="btn btn-gradient-danger btn-rounded btn-fw"> Clear </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Holiday</h4>
                        <br>

                        <div class="table-responsive">
                        <table class="table table-bordered table-striped dataTable" id="holidayTable">
                            <thead>
                            <tr>
                                <th>Reason</th>
                                <th>Holiday</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>