<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/m_index}">
<body>
<div  layout:fragment="content" class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Add User </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">

                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">KGT</h4>
                        <p class="card-description"> Enter user details </p>
                        <blockquote class="blockquote blockquote-primary">
                            <div class="search-field d-none d-md-block">
                                <form class="d-flex align-items-center h-100" >
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <i class="input-group-text border-0 mdi mdi-magnify" ></i>
                                        </div>
                                        <input type="text" class="form-control bg-transparent border-0"  onchange="searchUser(value)" placeholder="Search user (Employee number)">
                                    </div>
                                </form>
                            </div>
                        </blockquote>
                        <br>
                        <br>
                        <form class="forms-sample">
                            <div class="form-group">
                                <label >Employee Number</label>
                                <input type="number" class="form-control" id="empNumber" required="true" placeholder="1234">
                            </div>
                            <div class="form-group">
                                <label> Name </label>
                                <input type="email" class="form-control" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label> NIC </label>
                                <input type="text" class="form-control" id="nic" placeholder="960161270V">
                            </div>
                            <div class="form-group">
                                <label> Mobile </label>
                                <input type="number" class="form-control" id="mobile" placeholder="0711302006">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                            <input type="hidden" class="form-control" id="idEmp" >
                            <div class="form-group">
                                <label >Select Department</label>
                                <select class="form-control" id="dep">
                                    <option value="0">Your department</option>
                                    <option th:each="operator : ${departments}" th:value="${operator.departmentTitle}" th:text="${operator.departmentTitle}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label >Select Role</label>
                                <select class="form-control" id="role">
                                    <option value="0">Your Role</option>
                                    <option value="EMPLOYEE">EMPLOYEE</option>
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="MANAGER">MANAGER</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label >Select status</label>
                                <select class="form-control" id="status">
                                    <option value="0">Your status</option>
                                    <option value="ACTIVE">ACTIVE</option>
                                    <option value="INACTIVE">INACTIVE</option>
                                    <option value="DELETED">DELETED</option>
                                </select>
                            </div>
                            <button type="button" onclick="saveUser()" class="btn btn-gradient-primary mr-2">Save user / Edit user</button>
                            <button type = "button" class="btn btn-gradient-dark btn-fw"> Cancel </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>