<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/index}">
<body onload="ClearUserField(), loadUserTable()">
<div  layout:fragment="content" class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Add User </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">

                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-description"> Enter user details </p>
                        <blockquote class="blockquote blockquote-primary">
                            <div class="search-field d-none d-md-block">
                                <form class="d-flex align-items-center h-100" >
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-transparent border-0"  id="search_user" placeholder="Search user (Employee number)">
                                        <button type="button" onclick="searchUser()" class="btn btn-gradient-primary btn-rounded btn-icon">
                                            <i class="mdi mdi-magnify"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </blockquote>
                        <br>
                        <br>
                        <form class="forms-sample">
                            <div class="form-group">
                                <label >Employee Number</label>
                                <input type="number" class="form-control" id="empNumber" required="true" placeholder="1234">
                            </div>
                            <div class="form-group">
                                <label> Name </label>
                                <input type="email" class="form-control" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label> NIC </label>
                                <input type="text" class="form-control" id="nic" placeholder="960161270V">
                            </div>
                            <div class="form-group">
                                <label> Mobile </label>
                                <input type="number" class="form-control" id="mobile" placeholder="0711302006">
                            </div>
                            <input type="hidden" class="form-control" id="idEmp" >
                            <div class="form-group">
                                <label >Select Department</label>
                                <select class="form-control" id="dep">
                                    <option value="0">Your department</option>
                                    <option th:each="operator : ${departments}" th:value="${operator.departmentTitle}" th:text="${operator.departmentTitle}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label >Select Role</label>
                                <select class="form-control" id="role">
                                    <option value="0">Your Role</option>
                                    <option value="EMPLOYEE">EMPLOYEE</option>
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="STAFF">STAFF</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label >Select status</label>
                                <select class="form-control" id="status">
                                    <option value="0">Your status</option>
                                    <option value="ACTIVE">ACTIVE</option>
                                    <option value="INACTIVE">INACTIVE</option>
                                    <option value="DELETED">DELETED</option>
                                </select>
                            </div>
                            <button type="button" onclick="saveUser()" class="btn btn-gradient-success btn-rounded btn-fw">Save user / Edit user</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type = "button" onclick="ClearUserField()" class="btn btn-gradient-danger btn-rounded btn-fw"> Clear </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Employee List</h4>
                        <br>
                        </p>
                        <div class="table-responsive">
                        <table class="table table-bordered table-striped dataTable" id="userTable">
                            <thead>
                            <tr>
                                <th> Emp. Number</th>
                                <th> Name</th>
                                <th> Nic</th>
                                <th> Mobile</th>
                                <th> Role</th>
                                <th> Dep.</th>
                                <th> Status</th>
                            </tr>
                            </thead>

                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>